* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
} 

/*Cuerpo de la página*/

.h1_estandar {
    background-color: #D8E7F5;
    color: #2C3844;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #93A1AE;
    margin-top: 0;
    margin-bottom: 1%;
}

/*Sección título y 3 imágenes*/

main section img {
    width: 32%;
    margin: 0 0.5%;
}

/*Form*/

.container_form {
    margin: 1%;
}

.inicio_boton {
    background-color:  rgb(154, 221, 206);
    color: black;
    border: 1px solid #93A1AE;
    padding: 0 2%;
}

/*Grid Contenedor mapa y texto*/

.grid_container_textmap {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.parrafo_mapa {
    font-size: larger;
    background-color: #D7EEEC;
    padding: 25px;
    border: 1px solid #43A89B;
    text-align: justify;
    margin-right: 25px;
    grid-column: 1 / 5;
}

.map {
    margin-top: 15px;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

section nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 30px 30px 30px;
}

section nav ul li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    background-color: #3C7668;
    padding: 10px 25px;
    margin: 25px 25px;
    border: 2px solid #01543B;
    border-radius: 5px;
}

section nav ul li a:hover {
    color: darkgrey;
    background-color: #01543B;
}

.pag_h4 {
    font-weight: 200;
    padding-top: 20px;
    padding-left: 25px;
    border-top: 1px solid #97A5B3;
}

/*Página Lugares clases*/

.h1_lugares {
    background-color: #D8E7F5;
    color: #D8E7F5;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    background-color: #F3F5F7;
    font-weight: 500;
    padding: 15px;
    border-top: 1px solid #93A1AE;
    margin-top: 0;
}

/*Sección Buenos Aires y Norte*/

.grid_container_lugares {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.p_lugares {
    background-color: #D7EEEC;
    padding: 25px;
    border: 1px solid #43A89B;
    text-align: justify;
    margin-right: 25px;
    margin-top: 0;
}

.img_lugares {
    width: 100%;
    margin-bottom: 2%;
}

/*Sección Patagonia Sur*/

.grid_container_patag {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.img_lugares_patag {
    width: 100%;
    margin-bottom: 2%;
}

.p_lugares_patag {
    background-color: #D7EEEC;
    padding: 25px;
    border: 1px solid #43A89B;
    text-align: justify;
    margin-left: 25px;
    margin-top: 0;
}

/*Página Info clases*/

.info_jujuy {
    font-size: x-large;
    font-weight: 100;
    padding-left: 3%;
    padding-top: 1%;
    margin-bottom: 3%;
}

/*Grid Jujuy*/

.grid_container_jujuy {
    font-size: large;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(7, 15%);
    row-gap: 3%;
}

.info_purmamarca {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 1 / 2;
}

.info_p_purmamarca {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_maimara {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left:15%;
    grid-row: 2 / 3;
}

.info_p_maimara {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_tilcara {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 3 / 4;
}

.info_p_tilcara {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_humahuaca {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 4 / 5;
}

.info_p_humahuaca {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_salinas {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 5 / 6;
}

.info_p_salinas {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_quiaca {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 6 / 7;
}

.info_p_quiaca {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_parque {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 7 / 8;
}

.info_p_parque {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

/*Grid Salta*/
.info_h3_salta {
    font-size: x-large;
    font-weight: 100;
    border-top: 2px solid #93A1AE;
    padding-left: 3%;
    padding-top: 1%;
    margin-top: 12%;
    margin-bottom: 3%;
}

.grid_container_salta {
    font-size: large;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(8, 15%);
    row-gap: 7%;
}

.info_cafayate {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 1 / 2;
}

.info_p_cafayate {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_villa {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 2 / 3;
}

.info_p_villa {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_quebrada {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 3 / 4;
}

.info_p_quebrada {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_cachi {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 4 / 5;
}

.info_p_cachi {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_tele {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 5 / 6;
}

.info_p_tele {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_museo {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 6 / 7;
}

.info_p_museo {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_penas {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 7 / 8;
}

.info_p_penas {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

.info_cabracorral {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 8 / 9;
}

.info_p_cabracorral {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
}

/*Grid Tucumán*/
.info_h3_tucuman {
    font-size: x-large;
    font-weight: 100;
    border-top: 2px solid #93A1AE;
    padding-left: 3%;
    padding-top: 1%;
    margin-top: 35%;
    margin-bottom: 3%;
} 

.grid_container_tucuman {
    font-size: large;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(8, 15%);
    row-gap: 2%;
}

.info_casahist {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 1 / 3;
}

.info_p_casahist {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
    grid-row: 1 / 3;
}

.info_tafi {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 3 / 5;
}

.info_p_tafi {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
    grid-row: 3 / 5;
}

.info_amaicha {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    grid-row: 5 / 7;
}

.info_p_amaicha {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
    grid-row: 5 / 7;
}

.info_quilmes {
    font-size: large;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 15%;
    margin-bottom: 20px;
    grid-row: 7 / 9;
}

.info_p_quilmes {
    background-color: white;
    font-size: medium;
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
    grid-column: 2 / 6;
    grid-row: 7 / 9;
}

/*Página Galería*/
section a img {
    height: 90%;
}

/*Grid contenedor de imágenes*/
.grid_container_galeria {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, 8%);
    row-gap: 1%;
    column-gap: 1%;
    justify-items: center;
}

/*Página Contacto clases*/
.contacto_contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img_telefono {
    height: 350px;
    margin-top: 5%;
}

.contacto_h2 {
    background-color: rgb(215, 238, 236);
    padding-bottom: 0;
    border-top: none;
    border-bottom: 1px solid #93A1AE;
    margin-bottom: 10%;
}

.contacto_informacion {
    background-color: rgb(215, 238, 236);
    padding: 5% 10%;
    border: 1px solid rgb(101, 161, 143);
    margin: 5% 5%;
    text-align: center;
}

.div_contacto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacto_informacion img {
    height: 2rem;
    margin: auto;
}

.contacto_h4 {
    background-color: rgba(232, 238, 238, 0.867);
    font-weight: 300;
    padding: 1.5% 1%;
    border-top: 1px solid #93A1AE;
}

.form_contenedor {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contacto_boton {
    background-color:  rgb(154, 221, 206);
    color: black;
    border: 1px solid #93A1AE;
    padding: 0 2%;
}

/*Footer*/
footer {
    background-color: #D0D8DF;
    padding: 20px;
    border-top: 1px solid #93A1AE;
    
}

footer ul {
    display: block;

}

footer ul li {
    list-style-type: none;
    margin: 25px 10px;
}

footer ul li a {
    color: black;
}

.footer_grid_info {
    margin-top: 8%;
}

/* MEDIA QUERY */

/*Mobile*/
@media only screen and (max-width: 480px) {

    /*Página Inicio*/
    .h1_estandar {
        font-size: 27px;
    }

    main section img {
        width: 30%;
        margin: 1%;
    }

    .container_form {
        margin: 5% 1%;
    }

    .grid_container_textmap {
        display: flex;
        flex-wrap: wrap;
    }

    .parrafo_mapa {
        padding: 4%;
        font-size: 90%;
        margin: 1%;
    }

    .inicio_mapa {
        margin: 2%;
    }

    .pag_h4 {
        font-size: medium;
    }

    section nav ul li a {
        font-size: x-small;
        padding: 5px 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    section nav ul {
        margin: 0;
        justify-content: flex-start;
    }

    footer {
        padding: 0.5px;
        font-size: x-small;
    }

    /*Página Lugares*/
    .h1_lugares {
        font-size: 27px;
    }

    h2 {
        font-size: medium;
    }

    .grid_container_lugares {
        display: flex;
        flex-wrap: wrap;
    }

    .p_lugares {
        padding: 4%;
        font-size: 90%;
        margin: 2%;
    }

    .grid_container_patag {
        display: flex;
        flex-wrap: wrap;
    }

    .p_lugares_patag {
        padding: 4%;
        font-size: 90%;
        margin: 2%;
    }

    /*Página Info*/
    .info_jujuy {
        font-size: medium;
        font-weight: 600;
        padding-left: 5%;
        margin: 3% 0;
    }

    .grid_container_jujuy {
        display: flex;
        flex-wrap: wrap;
    }

    .info_purmamarca {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_purmamarca {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_maimara {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_maimara {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_tilcara {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_tilcara {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_humahuaca {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_humahuaca {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_salinas {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_salinas {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_quiaca {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_quiaca {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_parque {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_parque {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_h3_salta {
        font-size: medium;
        font-weight: 600;
        padding-left: 5%;
        padding-top: 3%;
        margin: 3% 0;
    }

    .grid_container_salta {
        display: flex;
        flex-wrap: wrap;
    }

    .info_cafayate {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_cafayate {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_villa {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_villa {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_quebrada {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_quebrada {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_cachi {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_cachi {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_tele {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_tele {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_museo {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_museo {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_penas {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_penas {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_cabracorral {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_cabracorral {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_h3_tucuman {
        font-size: medium;
        font-weight: 600;
        padding-left: 5%;
        padding-top: 3%;
        margin: 3% 0;
    }

    .grid_container_tucuman {
        display: flex;
        flex-wrap: wrap;
    }

    .info_casahist {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_casahist {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_tafi {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_tafi {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_amaicha {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_amaicha {
        margin: 0 4.5% 4% 4.5%;
    }

    .info_quilmes {
        font-size: medium;
        margin: 1% 3%;
    }

    .info_p_quilmes {
        margin: 0 4.5% 4% 4.5%;
    }
    
    /*Página Galería*/
    .grid_container_galeria {
        display: block;
    }

    .img_galeria {
        height: 12rem;
        margin: 2%;
        align-content: center;
    }

    /*Página Contacto*/
    .img_telefono {
        height: 250px;
    }

    section section div p {
        font-size: small;
    }

    .contacto_h4 {
        font-size: small;
        padding: 3%;
    }

    .form_contenedor {
        font-size: xx-small;
    }
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    /*Página Inicio*/
    .h1_estandar {
        font-size: 34px;
    }

    main section img {
        width: 30.7%;
        margin: 1%;
    }

    .container_form {
        margin: 3% 1%;
    }

    .grid_container_textmap {
        display: flex;
        flex-wrap: wrap;
    }

    .parrafo_mapa {
        padding: 4%;
        font-size: 95%;
        margin: 2%;
    }

    .inicio_mapa {
        margin: 2%;
    }

    .pag_h4 {
        font-size: large;
    }

    section nav ul li a {
        font-size: x-small;
        padding: 5px 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    section nav ul {
        margin: 0;
    }

    footer {
        padding: 0.5px;
        font-size: x-small;
    }

    /*Página Lugares*/
    .h1_lugares {
        font-size: 34px;
    }

    h2 {
        font-size: large;
    }

    .grid_container_lugares {
        display: flex;
        flex-wrap: wrap;
    }

    .p_lugares {
        padding: 4%;
        font-size: 95%;
        margin: 2%;
    }

    .grid_container_patag {
        display: flex;
        flex-wrap: wrap;
    }

    .p_lugares_patag {
        padding: 4%;
        font-size: 95%;
        margin: 2%;
    }

    /*Página Info*/
    .grid_container_jujuy {
        row-gap: 4%;
    }

    .info_h3_salta {
        margin-top: 57%;
    }

    .info_h3_tucuman {
        margin-top: 143%;
    }

    .info_casahist {
        font-size: medium;
    }

    .footer_grid_info {
        margin-top: 38%;
    }

    /*Página Galería*/
    .grid_container_galeria {
        display: block;
    }

    .img_galeria {
        height: 12rem;
        margin: 2%;
        align-content: center;
    }
}